@import '../../../styles/colors';

.image-box {
    display: flex;
    width: 35%;
    padding: 5rem;
    justify-content: center;
    align-items: center;

    img {
        opacity: 0.8;
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
    }
}

@media only screen and (max-width: 1300px) {
    .image-box {
        display: block;
        margin: 0 auto;
        width: 50rem;
    }
}

@media only screen and (max-width: 500px) {
    .image-box {
        width: 30rem;
    }
}
