@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/mixins';

.reception {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $pink-bright-faded;

  &--header {
    @include big-fancy-font($pink-bright-faded);
    width: 50%;
    text-align: center;
  }

  &--place {
    text-align: center;
  }
}
