.dresscode {
    display: flex;

    &--right {
        margin-left: 10rem;
    }

    &--left {
        margin-right: 10rem;
    }
}

@media only screen and (max-width: 500px) {
    .dresscode {
        &--right,
        &--left {
            margin: 0.8rem auto 15rem;
        }
    }
}
