@import '../../../styles/colors';
@import '../../../styles/mixins';

.donation {
    padding-top: 2rem;
    background: $pink-background;
    &--box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        padding: 4rem;
    }

    &--header {
        display: block;
        margin-bottom: 4rem;
        @include big-fancy-font($pink-bright-faded);
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .donation {
        &--box {
            flex-wrap: wrap;
            padding: 2rem;
        }
        &--header {
            font-size: $font-size-header-mobile;
            margin-bottom: 0.5rem;
        }
    }
}
