$black: rgba(0, 0, 0, 0.6);
$shadow-black: rgba(0, 0, 0, 0.6);
$gray-bg: rgba(100, 100, 100, 0.5);
$gray: rgba(100, 100, 100, 1);
$gray-background: rgba(100, 100, 100, 0.2);

$whitest: rgba(255, 255, 255, 0);
$white: rgba(244, 244, 244, 1);
$white-pale: rgba(244, 244, 244, 0.8);
$shadow-white: rgba(244, 244, 244, 0.7);
$white-neon-text: rgba(240, 240, 240, 1);

$red: rgba(252, 67, 15, 0.7);
$neon-red: rgba(254, 19, 19, 1);
$error-red: rgba(254, 19, 19, 0.8);
$red-brown: rgba(255, 76, 5, 0.5);
$brown-red: rgba(222, 58, 40, 0.4);

$error-red: rgba(179, 45, 45, 0.6);
$error-red-bg: rgba(255, 105, 105, 0.5);

$warning-yellow: rgba(179, 143, 45, 1);
$warning-yellow-bg: rgba(245, 201, 81, 0.5);

$pink-bright: rgba(200, 148, 186, 1);
$pink-bright-placeholder: rgba(200, 148, 186, 0.4);
$pink-bright-faded: rgba(192, 130, 174, 0.8);
$pink-input-border: rgba(209, 159, 203, 0.5);
$pink-background: rgba(192, 130, 174, 0.1);

$blue-info-bg: rgba(99, 180, 255, 0.2);
$blue-info-border: rgba(99, 180, 255, 1);

$green: rgba(84, 232, 168, 0.6);
$green-success: rgba(37, 148, 111, 0.8);
$green-success-bg: rgba(86, 227, 150, 0.5);
