$black: rgba(0, 0, 0, .6);
$shadow-black: rgba(0, 0, 0, .25);
$gray: rgba(100, 100, 100, 1);
$gray-bg: rgba( 100, 100, 100, .5);

$white: rgba(244, 244, 244, 1);
$white-pale: rgba(244, 244, 244, .8);
$shadow-white: rgba(244, 244, 244, .7);
$white-neon-text: rgba(240, 240, 240, 1);

$red: rgba(252, 67, 15, 1);
$neon-red: rgba(254, 19, 19, 1);
$error-red: rgba(254, 19, 19, .8);
$red-brown: rgba(255, 76, 5, 0.5);
$brown-red: rgba(222, 58, 40, .4);

$pink-bright: rgba(200, 148, 186, 1);
$pink-bright-faded: rgba(192, 130, 174, .8);

$green: rgba(84, 232, 168, .6);
