@import '../../../styles/mixins';

.invitee-form {
    margin: 5rem auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .invitee-form {
        align-items: flex-start;
    }
}
