@import '../../../styles/colors';
@import '../../../styles/variables';
@import '../../../styles/mixins';

.label-form {
    padding: 1.5rem;
    color: $shadow-black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.input-form {
    outline: none;
    font-size: $font-size-form;
    padding: 1.2rem;
    border: $pink-input-border solid 0.2rem;
    border-radius: 0.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: $pink-bright;
    &::placeholder {
        color: $pink-bright-placeholder;
    }
}

@media only screen and (max-width: 500px) {
    .label-form {
        padding: 1.5rem 0;
    }
}
