@import '../../../../styles/colors';
@import '../../../../styles/variables';

.submit-invitee {
    padding: 1.2rem 2rem;
    margin: 2rem auto;
    background: $pink-bright;
    font-size: $font-size-form;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    color: $white-pale;
    &:hover {
        cursor: pointer;
    }
    &:disabled {
        background: $gray-background;
        cursor: not-allowed;
    }
}
