@import '../../../styles/colors';
@import '../../../styles/variables';

.textarea-form {
    margin: 1rem auto;
    outline: none;
    font-size: $font-size-form;
    padding: 1.2rem 3rem;
    border: $pink-input-border solid 0.2rem;
    border-radius: 0.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: $pink-bright;
    resize: vertical;

    &::placeholder {
        color: $pink-bright-placeholder;
    }
}

.label-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $shadow-black;
}
