@import '../../../styles/colors';
@import '../../../styles/variables';

.textarea-form {
    //margin: 1rem auto;
    outline: none;
    font-size: $font-size-form;
    padding: 1.2rem;
    border: $pink-input-border solid 0.2rem;
    border-radius: 0.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: $pink-bright;
    resize: vertical;
    width: 20em;

    &::placeholder {
        color: $pink-bright-placeholder;
    }
}

.label-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $shadow-black;
}

@media only screen and (max-width: 380px) {
    .textarea-form {
        width: 15em;
    }
}
