@import '../../../styles/colors';
@import '../../../styles/variables';
@import '../../../styles/mixins';

.rsvp {
    @include big-fancy-font($white);
    margin: 0 auto 30rem;
}

@media only screen and (max-height: 700px) {
    .rsvp {
        margin: 1rem auto 15rem;
        font-size: 5rem;
    }
}
