@import '../../../styles/colors';
@import '../../../styles/variables';


.savedate {
  margin-top: 2rem;
  background: $pink-bright-faded;
  color: $white;
  padding: 1rem;

  &--border {
    border: $white dashed .1rem;
    padding: 2rem 2rem;
    font-family: $font-fancy;
    font-size: 3rem;
    display: flex;

    div {
      padding: 0 2.5rem;
      letter-spacing: .6rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .savedate {
    margin: 0 auto;
    &--border {
      font-size: $font-size-para-mobile;
      display: block;
    }
  }
}
