.cover {
    height: 100vh;
    margin: 0 auto;
    display: block;
    text-align: center;

    &--image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        color: rgba(100, 100, 100, 0.5);
    }
}
